* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*UTILITY*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.underline {
  text-decoration: underline;
  padding-left: 5px;
  color: #0062fe;
}

img {
  max-width: 100%;
}
.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.container2 {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.si-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: calc(100% / 2);
}
.col-1-3 {
  width: calc(100% / 3);
}
.col-30 {
  width: 30%;
}
.col-70 {
  width: 70%;
}
.btn1 {
  background-color: #0062fe;
  color: white;
  padding: 10px 20px;
}
.btn-100width {
  width: 100%;
  background-color: #0062fe;
  color: white;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.radio-btn {
  border-radius: 1px;
}
p {
  font-size: small;
  font-weight: 300;
}

.icon-pad {
  padding-right: 8px;
}
/*HEADER*/
.menu-dropbox {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  /* background-color: brown;*/
}
.menu-links {
  display: flex;
  align-items: center;
  margin: 0 50px;
}
li {
  padding-right: 20px;
}

.logo-dropbox {
  display: flex;
  align-items: center;
}
.login-dropbox {
  display: flex;
  align-items: center;
}
/*MAIN*/
#top-hub {
  background-color: #b4d0e7;
  padding-top: 50px;
}
#top-hub .container {
  position: relative;
  top: 50px;
}
#top-hub .arrow {
  margin-top: auto;
  margin-bottom: 50px;
}
#top-hub .col-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#top-hub p {
  padding-bottom: 50px;
}
#top-hub h1 {
  font-size: 3rem;
  padding-bottom: 30px;
}
#top-hub .btn1 {
  margin-bottom: 40px;
}
.bord {
  border: 1px solid #fafafa;
  padding-top: 50px;
}

h2 {
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 20px;
}
.first-sec-users {
  max-width: 90%;
  margin-left: 15px;
}
h3 {
  padding: 10px 0;
}
.plan-header {
  border-bottom: 1px solid#d3d2d2;
  text-align: center;
}
.card-plan {
  border: 1px solid#d3d2d2;
  height: 100%;
}
.text-grey {
  color: #9fa8b3;
  padding-top: 20px;
  padding-bottom: 40px;
}
.list-function {
  padding-bottom: 20px;
}
.small-bord {
  border: 1px solid #d3d2d2;
  width: 20%;
  margin-bottom: 50px;
}
.label-Team {
  border: 1px solid #d3d2d2;
  text-align: center;
}
/*ENTERPRISE*/
.enterprise-flex {
  display: flex;
  justify-content: space-between;
}

#Enterprise strong {
  padding: 10px 0;
}
#Enterprise p {
  padding: 10px 0;
}
#Enterprise h3 {
  padding: 5px 0;
}
#Enterprise .btn1 {
  margin-top: 10px;
  margin-right: 10px;
}
.enterprise-plan {
  margin: 10px;
}
#Enterprise .building-center {
  text-align: center;
}
/*PARTNER*/
#partner .partner-flex {
  display: flex;
}
.image-partner {
  width: 100%;
}
#partner .btn-grey {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
}
